<!DOCTYPE html><html><head><meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/https://github.com/baaaayh/nuxt3/public/entry.XOVtU5UE.css">
<link rel="modulepreload" as="script" crossorigin href="/https://github.com/baaaayh/nuxt3/public/D08H_D8t.js">
<link rel="prefetch" as="script" crossorigin href="/https://github.com/baaaayh/nuxt3/public/Ctf0mku3.js">
<link rel="prefetch" as="script" crossorigin href="/https://github.com/baaaayh/nuxt3/public/Bp_JYFVb.js">
<link rel="prefetch" as="script" crossorigin href="/https://github.com/baaaayh/nuxt3/public/CRJaE19X.js">
<link rel="prefetch" as="script" crossorigin href="/https://github.com/baaaayh/nuxt3/public/DiVtUNez.js">
<link rel="prefetch" as="script" crossorigin href="/https://github.com/baaaayh/nuxt3/public/Bwx8NYO5.js">
<link rel="prefetch" as="style" href="/https://github.com/baaaayh/nuxt3/public/error-404.JekaaCis.css">
<link rel="prefetch" as="script" crossorigin href="/https://github.com/baaaayh/nuxt3/public/D424STrK.js">
<link rel="prefetch" as="style" href="/https://github.com/baaaayh/nuxt3/public/error-500.CNP9nqm1.css">
<link rel="prefetch" as="script" crossorigin href="/https://github.com/baaaayh/nuxt3/public/DzLRwRdl.js">
<script type="module" src="/https://github.com/baaaayh/nuxt3/public/D08H_D8t.js" crossorigin></script></head><body><div id="__nuxt"></div><div id="teleports"></div><script type="application/json" id="__NUXT_DATA__" data-ssr="false">[{"_errors":1,"serverRendered":2,"data":3,"state":4,"once":5},{},false,{},{},["Set"]]</script>
<script>window.__NUXT__={};window.__NUXT__.config={public:{baseUri:"@/public/",persistedState:{storage:"cookies",debug:false,cookieOptions:{}}},app:{baseURL:"/https://github.com/baaaayh/nuxt3/",buildAssetsDir:"public",cdnURL:""}}</script></body></html>